
@font-face {
  font-family: "greenture";
  src: url("../fonts/greenture.eot");
  src: url("../fonts/greentured41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/greenture.woff") format("woff"),
       url("../fonts/greenture.ttf") format("truetype"),
       url("../fonts/greenture.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-greenture]:before {
    font-family: "greenture";;
    content: attr(data-greenture);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="greenture-"] {
*/
.greenture-app,
.greenture-arrows,
.greenture-arrows-1,
.greenture-arrows-2,
.greenture-arrows-3,
.greenture-arrows-4,
.greenture-arrows-5,
.greenture-arrows-6,
.greenture-arrows-7,
.greenture-arrows-8,
.greenture-arrows-9,
.greenture-arrows-10,
.greenture-arrows-11,
.greenture-arrows-12,
.greenture-arrows-13,
.greenture-arrows-14,
.greenture-arrows-15,
.greenture-arrows-16,
.greenture-arrows-17,
.greenture-beach,
.greenture-building,
.greenture-circle,
.greenture-circle-1,
.greenture-circle-2,
.greenture-circle-3,
.greenture-circle-4,
.greenture-circle-5,
.greenture-circle-6,
.greenture-circle-7,
.greenture-circle-8,
.greenture-clock,
.greenture-cloud,
.greenture-communication,
.greenture-communication-1,
.greenture-communication-2,
.greenture-computer,
.greenture-construction,
.greenture-cross,
.greenture-cross-1,
.greenture-cross-2,
.greenture-cross-3,
.greenture-cross-4,
.greenture-cross-5,
.greenture-cup,
.greenture-cup-1,
.greenture-dog,
.greenture-door,
.greenture-energy,
.greenture-energy-1,
.greenture-envelope,
.greenture-favorite,
.greenture-favorite-1,
.greenture-favorite-2,
.greenture-favorite-3,
.greenture-favorite-4,
.greenture-food,
.greenture-food-1,
.greenture-food-2,
.greenture-food-3,
.greenture-gasolin,
.greenture-gps,
.greenture-hand,
.greenture-home,
.greenture-illumination,
.greenture-interface,
.greenture-interface-1,
.greenture-interface-2,
.greenture-interface-3,
.greenture-interface-4,
.greenture-interface-5,
.greenture-interface-6,
.greenture-interface-7,
.greenture-interface-8,
.greenture-interface-9,
.greenture-interface-10,
.greenture-interface-11,
.greenture-interface-12,
.greenture-interface-13,
.greenture-interface-14,
.greenture-interface-15,
.greenture-internet,
.greenture-letter,
.greenture-letter-1,
.greenture-letter-2,
.greenture-line,
.greenture-line-1,
.greenture-line-2,
.greenture-line-3,
.greenture-line-4,
.greenture-line-5,
.greenture-line-6,
.greenture-location,
.greenture-location-1,
.greenture-location-2,
.greenture-location-3,
.greenture-location-4,
.greenture-map,
.greenture-map-1,
.greenture-map-2,
.greenture-medical,
.greenture-moon,
.greenture-multimedia,
.greenture-multimedia-1,
.greenture-nature,
.greenture-nature-1,
.greenture-nature-2,
.greenture-nature-3,
.greenture-nature-4,
.greenture-nature-5,
.greenture-nature-6,
.greenture-nature-7,
.greenture-nature-8,
.greenture-nature-9,
.greenture-nature-10,
.greenture-nature-11,
.greenture-nature-12,
.greenture-networking,
.greenture-note,
.greenture-note-1,
.greenture-paper,
.greenture-paper-1,
.greenture-paper-2,
.greenture-paper-3,
.greenture-pen,
.greenture-people,
.greenture-people-1,
.greenture-people-2,
.greenture-people-3,
.greenture-people-4,
.greenture-people-5,
.greenture-phone,
.greenture-play,
.greenture-play-1,
.greenture-recycle,
.greenture-search,
.greenture-search-1,
.greenture-security,
.greenture-security-1,
.greenture-security-2,
.greenture-security-3,
.greenture-security-4,
.greenture-shape,
.greenture-shape-1,
.greenture-shape-2,
.greenture-shape-3,
.greenture-shapes,
.greenture-shapes-1,
.greenture-shapes-2,
.greenture-shapes-3,
.greenture-shapes-4,
.greenture-shapes-5,
.greenture-shield,
.greenture-sign,
.greenture-sign-1,
.greenture-sign-2,
.greenture-signs,
.greenture-signs-1,
.greenture-signs-2,
.greenture-signs-3,
.greenture-silhouette,
.greenture-sky,
.greenture-social,
.greenture-social-1,
.greenture-social-media,
.greenture-squares,
.greenture-squares-1,
.greenture-starred,
.greenture-summer,
.greenture-summer-1,
.greenture-summer-2,
.greenture-summer-3,
.greenture-symbol,
.greenture-symbol-1,
.greenture-symbol-2,
.greenture-technology,
.greenture-technology-1,
.greenture-technology-2,
.greenture-technology-3,
.greenture-technology-4,
.greenture-technology-5,
.greenture-technology-6,
.greenture-technology-7,
.greenture-technology-8,
.greenture-technology-9,
.greenture-technology-10,
.greenture-technology-11,
.greenture-technology-12,
.greenture-technology-13,
.greenture-technology-14,
.greenture-technology-15,
.greenture-technology-16,
.greenture-technology-17,
.greenture-telephone,
.greenture-telephone-1,
.greenture-telephone-2,
.greenture-telephone-3,
.greenture-three,
.greenture-three-1,
.greenture-tool,
.greenture-tool-1,
.greenture-tool-2,
.greenture-tool-3,
.greenture-tool-4,
.greenture-tool-5,
.greenture-tool-6,
.greenture-tool-7,
.greenture-weapon,
.greenture-weather,
.greenture-weather-1,
.greenture-web {   
	font-family: "greenture";
  	speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.greenture-app:before { content: "\f100"; }
.greenture-arrows:before { content: "\f101"; }
.greenture-arrows-1:before { content: "\f102"; }
.greenture-arrows-10:before { content: "\f103"; }
.greenture-arrows-11:before { content: "\f104"; }
.greenture-arrows-12:before { content: "\f105"; }
.greenture-arrows-13:before { content: "\f106"; }
.greenture-arrows-14:before { content: "\f107"; }
.greenture-arrows-15:before { content: "\f108"; }
.greenture-arrows-16:before { content: "\f109"; }
.greenture-arrows-17:before { content: "\f10a"; }
.greenture-arrows-2:before { content: "\f10b"; }
.greenture-arrows-3:before { content: "\f10c"; }
.greenture-arrows-4:before { content: "\f10d"; }
.greenture-arrows-5:before { content: "\f10e"; }
.greenture-arrows-6:before { content: "\f10f"; }
.greenture-arrows-7:before { content: "\f110"; }
.greenture-arrows-8:before { content: "\f111"; }
.greenture-arrows-9:before { content: "\f112"; }
.greenture-beach:before { content: "\f113"; }
.greenture-building:before { content: "\f114"; }
.greenture-circle:before { content: "\f115"; }
.greenture-circle-1:before { content: "\f116"; }
.greenture-circle-2:before { content: "\f117"; }
.greenture-circle-3:before { content: "\f118"; }
.greenture-circle-4:before { content: "\f119"; }
.greenture-circle-5:before { content: "\f11a"; }
.greenture-circle-6:before { content: "\f11b"; }
.greenture-circle-7:before { content: "\f11c"; }
.greenture-circle-8:before { content: "\f11d"; }
.greenture-clock:before { content: "\f11e"; }
.greenture-cloud:before { content: "\f11f"; }
.greenture-communication:before { content: "\f120"; }
.greenture-communication-1:before { content: "\f121"; }
.greenture-communication-2:before { content: "\f122"; }
.greenture-computer:before { content: "\f123"; }
.greenture-construction:before { content: "\f124"; }
.greenture-cross:before { content: "\f125"; }
.greenture-cross-1:before { content: "\f126"; }
.greenture-cross-2:before { content: "\f127"; }
.greenture-cross-3:before { content: "\f128"; }
.greenture-cross-4:before { content: "\f129"; }
.greenture-cross-5:before { content: "\f12a"; }
.greenture-cup:before { content: "\f12b"; }
.greenture-cup-1:before { content: "\f12c"; }
.greenture-dog:before { content: "\f12d"; }
.greenture-door:before { content: "\f12e"; }
.greenture-energy:before { content: "\f12f"; }
.greenture-energy-1:before { content: "\f130"; }
.greenture-envelope:before { content: "\f131"; }
.greenture-favorite:before { content: "\f132"; }
.greenture-favorite-1:before { content: "\f133"; }
.greenture-favorite-2:before { content: "\f134"; }
.greenture-favorite-3:before { content: "\f135"; }
.greenture-favorite-4:before { content: "\f136"; }
.greenture-food:before { content: "\f137"; }
.greenture-food-1:before { content: "\f138"; }
.greenture-food-2:before { content: "\f139"; }
.greenture-food-3:before { content: "\f13a"; }
.greenture-gasoline:before { content: "\f13b"; }
.greenture-gps:before { content: "\f13c"; }
.greenture-hand:before { content: "\f13d"; }
.greenture-home:before { content: "\f13e"; }
.greenture-illumination:before { content: "\f13f"; }
.greenture-interface:before { content: "\f140"; }
.greenture-interface-1:before { content: "\f141"; }
.greenture-interface-10:before { content: "\f142"; }
.greenture-interface-11:before { content: "\f143"; }
.greenture-interface-12:before { content: "\f144"; }
.greenture-interface-13:before { content: "\f145"; }
.greenture-interface-14:before { content: "\f146"; }
.greenture-interface-15:before { content: "\f147"; }
.greenture-interface-2:before { content: "\f148"; }
.greenture-interface-3:before { content: "\f149"; }
.greenture-interface-4:before { content: "\f14a"; }
.greenture-interface-5:before { content: "\f14b"; }
.greenture-interface-6:before { content: "\f14c"; }
.greenture-interface-7:before { content: "\f14d"; }
.greenture-interface-8:before { content: "\f14e"; }
.greenture-interface-9:before { content: "\f14f"; }
.greenture-internet:before { content: "\f150"; }
.greenture-letter:before { content: "\f151"; }
.greenture-letter-1:before { content: "\f152"; }
.greenture-letter-2:before { content: "\f153"; }
.greenture-line:before { content: "\f154"; }
.greenture-line-1:before { content: "\f155"; }
.greenture-line-2:before { content: "\f156"; }
.greenture-line-3:before { content: "\f157"; }
.greenture-line-4:before { content: "\f158"; }
.greenture-line-5:before { content: "\f159"; }
.greenture-line-6:before { content: "\f15a"; }
.greenture-location:before { content: "\f15b"; }
.greenture-location-1:before { content: "\f15c"; }
.greenture-location-2:before { content: "\f15d"; }
.greenture-location-3:before { content: "\f15e"; }
.greenture-location-4:before { content: "\f15f"; }
.greenture-map:before { content: "\f160"; }
.greenture-map-1:before { content: "\f161"; }
.greenture-map-2:before { content: "\f162"; }
.greenture-medical:before { content: "\f163"; }
.greenture-moon:before { content: "\f164"; }
.greenture-multimedia:before { content: "\f165"; }
.greenture-multimedia-1:before { content: "\f166"; }
.greenture-nature:before { content: "\f167"; }
.greenture-nature-1:before { content: "\f168"; }
.greenture-nature-10:before { content: "\f169"; }
.greenture-nature-11:before { content: "\f16a"; }
.greenture-nature-12:before { content: "\f16b"; }
.greenture-nature-2:before { content: "\f16c"; }
.greenture-nature-3:before { content: "\f16d"; }
.greenture-nature-4:before { content: "\f16e"; }
.greenture-nature-5:before { content: "\f16f"; }
.greenture-nature-6:before { content: "\f170"; }
.greenture-nature-7:before { content: "\f171"; }
.greenture-nature-8:before { content: "\f172"; }
.greenture-nature-9:before { content: "\f173"; }
.greenture-networking:before { content: "\f174"; }
.greenture-note:before { content: "\f175"; }
.greenture-note-1:before { content: "\f176"; }
.greenture-paper:before { content: "\f177"; }
.greenture-paper-1:before { content: "\f178"; }
.greenture-paper-2:before { content: "\f179"; }
.greenture-paper-3:before { content: "\f17a"; }
.greenture-pen:before { content: "\f17b"; }
.greenture-people:before { content: "\f17c"; }
.greenture-people-1:before { content: "\f17d"; }
.greenture-people-2:before { content: "\f17e"; }
.greenture-people-3:before { content: "\f17f"; }
.greenture-people-4:before { content: "\f180"; }
.greenture-people-5:before { content: "\f181"; }
.greenture-phone:before { content: "\f182"; }
.greenture-play:before { content: "\f183"; }
.greenture-play-1:before { content: "\f184"; }
.greenture-recycle:before { content: "\f185"; }
.greenture-search:before { content: "\f186"; }
.greenture-search-1:before { content: "\f187"; }
.greenture-security:before { content: "\f188"; }
.greenture-security-1:before { content: "\f189"; }
.greenture-security-2:before { content: "\f18a"; }
.greenture-security-3:before { content: "\f18b"; }
.greenture-security-4:before { content: "\f18c"; }
.greenture-shape:before { content: "\f18d"; }
.greenture-shape-1:before { content: "\f18e"; }
.greenture-shape-2:before { content: "\f18f"; }
.greenture-shape-3:before { content: "\f190"; }
.greenture-shapes:before { content: "\f191"; }
.greenture-shapes-1:before { content: "\f192"; }
.greenture-shapes-2:before { content: "\f193"; }
.greenture-shapes-3:before { content: "\f194"; }
.greenture-shapes-4:before { content: "\f195"; }
.greenture-shapes-5:before { content: "\f196"; }
.greenture-shield:before { content: "\f197"; }
.greenture-sign:before { content: "\f198"; }
.greenture-sign-1:before { content: "\f199"; }
.greenture-sign-2:before { content: "\f19a"; }
.greenture-signs:before { content: "\f19b"; }
.greenture-signs-1:before { content: "\f19c"; }
.greenture-signs-2:before { content: "\f19d"; }
.greenture-signs-3:before { content: "\f19e"; }
.greenture-silhouette:before { content: "\f19f"; }
.greenture-sky:before { content: "\f1a0"; }
.greenture-social:before { content: "\f1a1"; }
.greenture-social-1:before { content: "\f1a2"; }
.greenture-social-media:before { content: "\f1a3"; }
.greenture-squares:before { content: "\f1a4"; }
.greenture-squares-1:before { content: "\f1a5"; }
.greenture-starred:before { content: "\f1a6"; }
.greenture-summer:before { content: "\f1a7"; }
.greenture-summer-1:before { content: "\f1a8"; }
.greenture-summer-2:before { content: "\f1a9"; }
.greenture-summer-3:before { content: "\f1aa"; }
.greenture-symbol:before { content: "\f1ab"; }
.greenture-symbol-1:before { content: "\f1ac"; }
.greenture-symbol-2:before { content: "\f1ad"; }
.greenture-technology:before { content: "\f1ae"; }
.greenture-technology-1:before { content: "\f1af"; }
.greenture-technology-10:before { content: "\f1b0"; }
.greenture-technology-11:before { content: "\f1b1"; }
.greenture-technology-12:before { content: "\f1b2"; }
.greenture-technology-13:before { content: "\f1b3"; }
.greenture-technology-14:before { content: "\f1b4"; }
.greenture-technology-15:before { content: "\f1b5"; }
.greenture-technology-16:before { content: "\f1b6"; }
.greenture-technology-17:before { content: "\f1b7"; }
.greenture-technology-2:before { content: "\f1b8"; }
.greenture-technology-3:before { content: "\f1b9"; }
.greenture-technology-4:before { content: "\f1ba"; }
.greenture-technology-5:before { content: "\f1bb"; }
.greenture-technology-6:before { content: "\f1bc"; }
.greenture-technology-7:before { content: "\f1bd"; }
.greenture-technology-8:before { content: "\f1be"; }
.greenture-technology-9:before { content: "\f1bf"; }
.greenture-telephone:before { content: "\f1c0"; }
.greenture-telephone-1:before { content: "\f1c1"; }
.greenture-telephone-2:before { content: "\f1c2"; }
.greenture-telephone-3:before { content: "\f1c3"; }
.greenture-three:before { content: "\f1c4"; }
.greenture-three-1:before { content: "\f1c5"; }
.greenture-tool:before { content: "\f1c6"; }
.greenture-tool-1:before { content: "\f1c7"; }
.greenture-tool-2:before { content: "\f1c8"; }
.greenture-tool-3:before { content: "\f1c9"; }
.greenture-tool-4:before { content: "\f1ca"; }
.greenture-tool-5:before { content: "\f1cb"; }
.greenture-tool-6:before { content: "\f1cc"; }
.greenture-tool-7:before { content: "\f1cd"; }
.greenture-weapon:before { content: "\f1ce"; }
.greenture-weather:before { content: "\f1cf"; }
.greenture-weather-1:before { content: "\f1d0"; }
.greenture-web:before { content: "\f1d1"; }